/*Desktop*/
.bg {
  background-image: url("imgs/bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}

.pu {
  position: fixed;
  top: -5px;
  left: -5px;
}

.pd {
  position: fixed;
  top: 800px;
  left: -5px;
}

.me {
  position: absolute;
  position: fixed;
  width: 1200px;
  left: 700px;
}

.hand {
  position: absolute;
  width: 600px;
  left: 550px;
  top: -0px;
}

.pages1 {
  position: absolute;
  width: 800px;
  top: -10px;
}
.pages2 {
  position: absolute;
  position: fixed;
  width: 1000px;
  top: 600px;
  right: 0px;
}

/*Animações*/
.imgs {
  animation: shake 10s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {transform: translate(0px, 0px) rotate(0deg);}
  50% {transform: translate(0px, 0px) rotate(-20deg);}
  100% {transform: translate(0px, 0px) rotate(0deg);}
}

/*Outros*/
.button { 
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
}

.buttonbig { 
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 55px 20px;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
}

/*Celular*/
@media (max-width: 768px) {
  .bg {
    background-image: url("imgs/bg.png");
    background-size: auto;
    background-repeat: no-repeat;
  }
  .pu {
    top: -125px;
  }
  .pd {
    top: 600px;
  }
  .me {
    position: flex;
    position: fixed;
    left: -400px;
    filter: grayscale(100%) opacity(50%) hue-rotate();
  }
  .hand {
    position: absolute;
    position: fixed;
    left: -3000px;
  }
  .pages1 {
    position: fixed;
    width: 400px;
    left: -3000px;
  }
  .pages2 {
    position: fixed;
    width: 180vw;
    left: -20vw;
    top: 130vw;
  }
}